extends layout

block content
  div.page-header
    h1= title
    p
      !=message
    if (typeof(user) !== 'undefined')
      if user.username
        p.small.text-success Você está logado como #{user.username}
        a.btn.btn-info(href="/novoProjeto") Inserir Projeto
        span &nbsp;ou    
        a.btn.btn-warning(href="/logout") Logout
    else
      a.btn.btn-info(href="/login") Login 
      span   ou 
      a.btn.btn-success(href="/signup") Assine
  ul.list-group
   if (typeof(docs) !== 'undefined')
    each doc in docs
      li.list-group-item
        span.text-success Projeto: &nbsp;
        a(href='/projeto/#{doc._id}' title="Detalhes")
          !=doc.nome
        &nbsp; | &nbsp;
        span.pull-right
          a.text-success(href='/projeto/edit/#{doc._id}' title="Editar") &nbsp;
            span.glyphicon.glyphicon-edit &nbsp;
          a.text-danger(href='/projeto/delete/#{doc._id}' onclick="return confirm('Cara, vc tem CERTEZA que vc quer DELETAR esse job?')" title="Apagar") &nbsp;
            span.glyphicon.glyphicon-remove &nbsp;
        small Cliente&nbsp;
          a(href="mailto://#{doc.cliente}")
            !=doc.cliente
          